/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 19, 2023, 7:20:03 PM
    Author     : jcarl
*/

/* Username Field */
#txtUsername, #txtPassword {
    -fx-background-color: #f2f2f2; 
    -fx-background-insets: 0.5; 
    -fx-padding: 10px 15px; 
    -fx-text-fill: #333; 
    -fx-prompt-text-fill: #999; 
    -fx-border-width: 1px; 
    -fx-border-color:  #40E0D0; 
    -fx-border-radius: 8px; 
    -fx-background-radius: 10px; 
    -fx-focus-color: transparent; 
}

#txtUsername:pressed, #txtPassword:pressed {
    -fx-border-color: #FF6B6B; 
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

#txtUsername:hover, #txtPassword:hover {
    -fx-border-color:  #FF6B6B; 
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

#buttonCancel, #buttonLogin {
    -fx-background-color:  #FFD166;
    -fx-border-radius: 8px;    
    -fx-cursor: hand;
    -fx-text-fill: #777777; 
}

#buttonCancel:hover , #buttonLogin:hover{
    -fx-background-color: #FF6B6B;
    -fx-text-fill: #f7f7f7; 
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

#buttonCancel:pressed , #buttonLogin:pressed{
    -fx-background-color: #FF6B6B;
    -fx-text-fill: #f7f7f7;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-cursor: hand;
}



